header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
            .headerTitle {
                position: relative;
                top: 355px;
                font-size: 6.4rem;
                padding-right: 10%;
                text-transform: uppercase;
                font-family: $oswald;
            }
}

nav {
    background-color: $lightbluegrey;
    height: 10vh;
    @include flexrow;

    ul {
        @include flexrow;

        li {
            padding: 12px 26px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $oswald;
            font-size: 1.7rem;

            &:hover {
                color: white;
            }
        }

        .title {
            font-size: 3.4rem;
        }
    }
}

.fa-bars {
    display: none;
}