@media (max-width: 1020px) {
    #pageTwo {


        // MAIN
        main {
            margin: 0 auto;
        }

        .blogSection {
            display: flex;
            flex-direction: column;
        }

        .aboutHarper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            margin: 60px 0px;
        }

        .about {
            width: 100%;
            @include flexrow;
            align-items: flex-end;

            img {
                padding-right: 20px;
                padding-bottom: 0;
            }

            h2 {
                font-size: 3rem;
            }
        }
            

        .blogPosts {
            margin: 20px 0;
        }

        form {
            button {
                margin-bottom: 40px;
            }
        }
    }
}


@media (max-width: 768px) {
    #pageTwo {


        // NAV
        nav {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            .title {
                display: none; 
            }

            .mobileHarper {
                display: block;
                font-size: 3.4rem;
                padding: 12px 26px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $oswald;
            }

            .menu {
                display: none;
            }

            .hamburger {
                display: block;
                padding: 12px 26px;
                display: inline-block !important;
                font-size: 3.4rem;
                cursor: pointer;
            }
        
            .hamburger i {
                position: fixed;
                top: 20px;
                right: 26px;
                z-index: 2;
            }
        
            input[type="checkbox"] {
                display: none;    
            }
        
            input[type="checkbox"]:checked + ul{
                display: block;
                text-align: right;
                float:right;
                background: $accent;
                // color: $white;
                position: fixed;
                width: 200px;
                right: 0%;
                top: 0;
                padding: 5px 0;
                z-index: 1;
                height: 100vh;
                transition: all 0.5s;

                    .hamburger {
                        color: $white;
                    }

                    .menu {
                        display: block;

                        &:first-child {
                            padding-top: 50px;
                        }
                    }

                    a {
                        display: block;
                        font-size: 2.6rem;
                        width: 100%;
                        padding: 10px 0;
                        transition: all 0.3s;
                        padding-right: 25px;
                    }
            }

            // .menu {
            //     display: none;
            // }

            // .fa-bars {
            //     padding: 12px 26px;
            //     display: inline-block !important;
            //     font-size: 3.4rem;
            // }
        }

        // MAIN
        main {
            .blogPosts {
                margin: 0;
            }
        }
    }
}

@media (max-width: 640px){
    #pageTwo {

        // ABOUT
        .aboutHarper {
            .about {
                h2 {
                    font-size: 2.4rem;
                    padding-bottom: 0;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 20px;
                }
            }
        }

        // BLOG POSTS
        .blogPosts {
            .comment {
                time {
                    color: $duskblue;
                    font-size: 1.3rem;
                    
                }
            }
        }

        // FORM
        form {

            div{
                flex-direction: column;

                input {
                    width: 100%;
                    margin: 20px 0;
                    padding: 20px;
                    border: none;

                    &:first-child {
                        margin-right: 0px;
                        margin-bottom: 0px;
                    }

                    &:last-child {
                        margin-left: 0px
                    }
                }
            }
        }
    }
}


@media (max-width: 454px) {
        #pageTwo {

            // ABOUT
            .aboutHarper {
                .about{
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;

                    img {
                        padding-right: 0;
                    }
                    h2 {
                        font-size: 2.4rem;
                        padding: 20px 0;
                    }

                    p {
                        padding: 0;
                        font-size: 1.4rem;
                        line-height: 20px;
                    }
                }
            }

            // BLOG POSTS
            .blogPosts {
                .comment {
                    div {
                        img {
                            display: none;
                        }
                    }

                    time {
                        color: $duskblue;
                        // font-size: 1rem;
                        
                    }
                }
            }
        }
    }