#pageTwo {
    header {
        background-image: url("../harper-assets/blog-image-1.jpg");
        width: 100%;
        height: 55vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
                h1 {
                    position: relative;
                    top: 355px;
                    font-size: 6.4rem;
                    padding-right: 10%;
                    text-transform: uppercase;
                    font-family: $oswald;
                }
    }

    nav {
        background-color: $lightbluegrey;
        height: 10vh;
        @include flexrow;

        ul {
            @include flexrow;

            li {
                padding: 12px 26px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $oswald;
                font-size: 1.7rem
            }
        }

        .title {
            font-size: 3.4rem;
        }
        .fa-bars {
            display: none;
        }
    }

    main {
        background-color: $white;

        .blogSection {
            @include flexcol;
            align-items: flex-start;

            h2 {
                @include header;
            }

            p {
                @include body;
            }

            li {
                @include body;
            }

            time {
                @include body;
            }

            .aboutHarper {
                width: calc(50% - 20px);
                margin: 60px 20px;

                .about {
                    background-color: white;
                    padding: 25px;
                }
    
                img {
                    display: block;
                    width: 100%;
                }

                .recent {
                    margin-top: 20px;
                    background-color: white;
                    padding: 25px;
                }
            }
        }


            .blogPosts {
                width: 100%;
                margin: 60px 20px;

                .blog {
                    background-color: white;
                    padding: 25px;
                }
        
                .comment {
                    margin-top: 20px;
                    background-color: white;
                    padding: 25px;
                    @include flexrow;
                    align-items: flex-start;
                }
            }

        form {
            
            div {
                display: flex;

                input {
                    width: calc(100% - 20px);
                    margin: 20px 0;
                    padding: 10px;

                    &:first-child {
                        margin-right: 10px
                    }

                    &:last-child {
                        margin-left: 10px
                    }
                }

            }

            .message {
                width: 100%;
                padding: 10px;
                padding-bottom: 200px;
                margin-bottom: 20px;
            }

            button {
                width: 100%;
                @include buttondefault;
            }
        }


    }
}
