$black: #171717;
$accent: #F38D8D;
$lightbluegrey: #b2dfe8;
$greyblue: #68B0C1;
$duskblue: #227284;
$white: #F6F6F6;
$oswald: 'Oswald', sans-serif;
$cabin: 'Cabin', sans-serif;

@mixin flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexcol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@mixin header {
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

@mixin body {
    font-family: $cabin;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: .5px;
}

@mixin buttondefault {
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: $accent;
    padding:12px 32px
}